/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*end of eric meyer css reset. Got rid font-size: 100%, per Cira's advice. This reset looked like edited, so I put it back again and once again, deleted font size, but kept font-inherit. Is it correct to keep font inherit? Klea 11/27*/

/* Connie, Klea what do you think of one of  these color scheme for the site? It is a Saphire Color Scheme our birthstone                  http://www.color-hex.com/color-palette/5984                   http://colorpalettes.net/tag/sapphire-blue/ 
http://www.paletton.com/#uid=53+0u0kIespqfEnEsFHLln1Pvho   Luz */

/* Luz, my apologies, but I am used to https://color.adobe.com/ so I will try and stick to your theme, but faster for me to work with this and then adjust tomorrow. 11/28 Klea */

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    background-color:#FFEBFF;
  }
  
body p {
    padding: 13px 10px;
    margin-bottom: 3px;
}

#container { 
    width: 960px; 
    margin: 0 auto; /* Klea got rid of sapphire blue here. Did not make sense since the container is our body in way and body already has a background color listed. 11/26 */
}

header {
    width: 960px;
    text-align: center;
    padding-top: 19px;
    margin-top: 37px;
    background-color: #867DB0;
    clear: both;
    font-family: 'Allura', cursive;
    font-size:93px;
    color: #ffbfff; 
 }

header p {
    margin-top: -10px;
    margin-left: 22px;
    padding-bottom: 23px;
    color: white;
    font-size: 18px;
    font-family: 'Gentium Basic', serif;
}


/* h2 { 
    font-size: 30px;
    color: #c256c2;
} Klea ghosted out for now. Had warning, but I also want to rework h1-h4 with new fonts I have. 11/26 */


nav {
    width: 960px; 
    clear: both;
}

nav ul{
    list-style-type: none;
    margin: 0; /* 11/26 should this have auto? Klea */
    padding: 0;
}

nav li{
    float: left;
   }

.nav-bar li a:link {
    text-decoration: none;
    display: block;
    width: 240px;
    padding: 11px 0;
    text-align: center;
    background-color:#f4354c;
    font-family: /*'Allura', cursive;*/ 'Open Sans', sans-serif;
    font-size: 18px;
}

.nav-bar li a:visited {
    text-decoration: line-through
}

.nav-bar li a:hover {
    background-color: #5665d4;
    color: #ffbfff;
}

figure {
    display: block;
    float: left;
    position: relative;
    margin-top: -2px;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
}

figure img {
    display: block;
    margin: 12px 0;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    font-family: 'Gentium Basic' serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 254px; 
    height: 150px;
    line-height: 1.2em;
    background-color: #f7cff7; 
}

figcaption > ul {
    margin-top: -12px;
}

#secondary-headers {
    color: #2364ed;
    background-color: #f7d4f7;
    font-family: 'Allura', cursive;
    font-weight: bolder;
    text-align: center;
    font-size: 315%;
    padding-top: 19px;
    padding-bottom: 17px;
}


h3 {
    color: #f4354c;
    font-size: 24px;
    font-family: 'Gentium Basic', serif;
    font-weight: bold;
    padding: 6px 0;
    margin-top: 6px;
    margin-left: 5px;
    text-align: center;
}

.front-page { /* I put this here because I want front section to look diff since all paras and an aside. 11/27 klea */
    position: relative;
    background-color: white;
    float: left;
    text-align: left;
}

.front-page > ul a {
    margin-left: 25px;
    text-decoration: none;
    line-height: 1.8em;
    padding: 5px 0;
}

section { /* what do you guys think about removing the background color on thissection. to make it more unified with the other pages. It just seems a bit too dark or we can use this as a background  background-color: #9095EF; Luz*/
    width: 960px; /*11/27 klea keeping this, but index page will be .front-page class so I can style paras with aside. */
    float: left;
    position: relative;
}
 
 section p {
   line-height: 1.2em;
   padding: 15px 25px;
}
 
 section li a {
    margin-left: 43px;
    text-decoration: none;
    line-height: 1.8em;
}
 

footer {  
    width: 960px; /* klea changed back to 960px from 100% width 11/27 */
    padding: 9px 0;
    text-align: center;
    background-color: #867DB0;
    clear: both;
}

footer a {
     text-decoration: none;
     font-family: 'Allura', cursive;
     color:  #ffbfff;
     font-size: 36px;
}
